body {
    background-color: rgb(26, 25, 25);
}

h1 {
    color: aliceblue;
    text-align: center;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: aliceblue;
    text-align: center;
}